extends /layout

block content
	h1 Comment Booth
	ul
		li
			| Card Imports
			ul
				li
					a(href="/crawl/thronesdb") Import cards from ThronesDB.com, skip already existing card images
				li
					a(href="/crawl/thronesdb?forceDownload=true") Import cards from ThronesDB.com, redownload already existing card images
		li
			| Controls
			ul
				li
					a(href="/controls/recordings") Record inputs/Playback recorded inputs
				li
					a(href="/controls/general") General stuff (score, FP-token …)
				li
					| Left Player
					ul
						li
							a(href="/controls/left/hand") Cards in hand
						li
							a(href="/controls/left/unusedPlots") Unused Plots
						li
							a(href="/controls/left/currentPlot") Current Plot
						li
							a(href="/controls/left/usedPlots") Used Plots
				li
					| Right Player
					ul
						li
							a(href="/controls/right/hand") Cards in hand
						li
							a(href="/controls/right/unusedPlots") Unused Plots
						li
							a(href="/controls/right/currentPlot") Current Plot
						li
							a(href="/controls/right/usedPlots") Used Plots
				li
					a(href="/controls/video") Video
		li
			a(href="/showroom") Showroom
