doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Comment Booth
		link(rel="stylesheet", href="/stylesheets/main.css")
	body
		div
			a(href="/") Go back to menu
		div
			span.icon-intrigue
			span.icon-military
			span.icon-power
			span.icon-tyrell
			span.icon-targaryen
			span.icon-martell
			span.icon-lannister
			span.icon-stark
			span.icon-baratheon
			span.icon-thenightswatch
			span.icon-greyjoy
			span.icon-neutral
			span.icon-unique
			span.icon-plot
			span.icon-character
			span.icon-location
			span.icon-event
			span.icon-attachment
			span.icon-agenda
		block content
		script
			| document.write('<script src="http://' + location.host.substr(0, location.host.indexOf(':')) + ':8081/socket.io/socket.io.js"></scr' + 'ipt>');
		script(src="/javascripts/helper.js")
		script(src="/javascripts/synced.js")
		script(src="/javascripts/search.js")
		script(src="/javascripts/record.js")