doctype
html(lang="en")
	head
		meta(charset="utf-8")
		title Comment Booth
		link(rel="stylesheet", href="/stylesheets/main.css")
	body
		div
			a(href="/") Go back to menu
		div
			span.icon-intrigue
			span.icon-military
			span.icon-power
			span.icon-tyrell
			span.icon-targaryen
			span.icon-martell
			span.icon-lannister
			span.icon-stark
			span.icon-baratheon
			span.icon-thenightswatch
			span.icon-greyjoy
			span.icon-neutral
			span.icon-unique
			span.icon-plot
			span.icon-character
			span.icon-location
			span.icon-event
			span.icon-attachment
			span.icon-agenda
		block content
		script(src="//localhost:8081/socket.io/socket.io.js")
		script(src="/javascripts/helper.js")
		script(src="/javascripts/synced.js")
		script(src="/javascripts/search.js")