doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Showroom
		link(rel="stylesheet", href="/stylesheets/showroom.css")
	body.showroom
		video.video#video
		div.leftHand.alignPanelsLeft
		div.rightHand.alignPanelsRight

		div.leftPlots
			div.leftUsedPlots.alignPanelsLeft
			div.leftCurrentPlot.alignPanelsLeft
			div.leftUnusedPlots.alignPanelsLeft
		div.rightPlots
			div.rightUsedPlots.alignPanelsRight
			div.rightCurrentPlot.alignPanelsRight
			div.rightUnusedPlots.alignPanelsRight

		div.leftMisc.alignPanelsLeft
		div.leftScore(data-score="0")
			- var n = 0;
			while n < 16
				div.score= n++
		div.firstplayerToken.leftIsFP

		div.rightMisc.alignPanelsRight
		div.rightScore(data-score="0")
			- var n = 0;
			while n < 16
				div.score= n++
		div.firstplayerToken.rightIsFP

		div.challengeIcon

		script
			| document.write('<script src="http://' + location.host.substr(0, location.host.indexOf(':')) + ':8081/socket.io/socket.io.js"></scr' + 'ipt>');
		script(src="/javascripts/youtube.js")
		script(src="/javascripts/hls.js")
		script(src="/javascripts/helper.js")
		script(src="/javascripts/synced.js")