doctype
html(lang="en")
	head
		meta(charset="utf-8")
		title Showroom
		link(rel="stylesheet", href="/stylesheets/showroom.css")
	body
		video.video
		div.leftHand.alignPanelsLeft
		div.rightHand.alignPanelsRight
		script(src="//localhost:8081/socket.io/socket.io.js")
		script(src="/javascripts/helper.js")
		script(src="/javascripts/synced.js")