doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Showroom
		link(rel="stylesheet", href="/stylesheets/showroom.css")
	body.showroom
		video.video
		div.leftHand.alignPanelsLeft
		div.rightHand.alignPanelsRight
		div.leftScore(data-score="0")
			- var n = 0;
			while n < 16
				div.score= n++
		div.rightScore(data-score="0")
			- var n = 0;
			while n < 16
				div.score= n++
		div.firstplayerToken.leftIsFP
		div.firstplayerToken.rightIsFP
		script(src="//localhost:8081/socket.io/socket.io.js")
		script(src="/javascripts/helper.js")
		script(src="/javascripts/synced.js")