@import 'fonts';
@import 'icons';
@import 'card-panel';
@import 'search';

.set {
	clear: both;
	label {
		float: left;
		width: 200px;
		padding-right: 10px;
		margin-right: -210px;
	}
	> :first-child {
		margin-left: 210px;
	}
}