@import 'fonts';
@import 'icons';
@import 'card-panel';


html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	background: black;
}

video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.leftHand {
	position: absolute;
	left: 0;
	top: 0;
}
.rightHand {
	position: absolute;
	right: 0;
	top: 0;
}