extends /layout

block content
	h1 Video Control Room
	form(method="POST", enctype="multipart/form-data")
		div.set
			select(name="videoType", id="videoType")
				option(value="Video", selected=(videoType === 'Video')) Video
				option(value="MJPEG", selected=(videoType === 'MJPEG')) MJPEG
				option(value="M3U8", selected=(videoType === 'M3U8')) M3U8
				option(value="Youtube", selected=(videoType === 'Youtube')) Youtube
			label(for="videoType") Video Type
		div.set
			input(type="text", id="videoSrc", name="videoSrc", value=videoSrc)
			label(for="videoSrc") Path to video stream (or Youtube Video ID)
		div.set
			input(type="file", id="videoUpload", name="videoUpload")
			label(for="videoUpload")
				| Upload a video (will be accessible at 
				a(href="/video") /video
				| )
		div.set
			button(type="submit") Submit
	hr
	div.set
		button(type="button", name="playState", value="play").synced Play Video
	div.set
		button(type="button", name="playState", value="pause").synced Pause Video
	div.set
		input(type="range", id="volumeSlider", name="videoVolume", value=videoVolume, step=".05", min="0", max="1").synced
		label(for="volumeSlider") Volume